.pop-cat {
    height: 750px;
    background-image:
            url("../img/main/back-white.png"),
            url("../img/main/back-black.png");
    background-position: center;
    background-size: 105%;
    margin-bottom: 40px;
}

.active {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
}

.top-req {
    margin-left: 40px;
}

.top-exec {
    margin-right: 40px;
}

.head-pop {
    font-family: Century Gothic, sans-serif;
    height: 120px;
    font-size: 55px;
    background-color: black !important;
    border-color: black !important;
    box-shadow: 0 -2px 3px 0 black;
    text-align: center;
    line-height: 120px;
}

.head-pop > a {
    display: flex !important;
    text-decoration: none !important;
}

.requisition,
.execute {
    height: 260px;
    font-family: 'Century Gothic', sans-serif;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-bottom: 0;
    text-decoration: none !important;
    color: black;
}

.requisition:hover,
.execute:hover {
    color: white;
    background-color: black;
}

.a-list:last-child{
    border-bottom: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.requisition > img,
.execute > img {
    max-height: 105px;
    max-width: 105px;
    min-width: 105px;
    min-height: 105px;
    margin-left: 70px;
}

h5 {
    font-size: 39px;
    width: 80%;
    text-decoration: none !important;
}

.text-block > h3 {
    float: right;
    text-decoration: none !important;
}

.text-exec > small {
    float: right;
    text-decoration: none !important;
    margin-right: 30px;
}

p {
    text-decoration: none !important;
}

h5:hover {
    text-decoration: none !important;
}

h3:hover {
    text-decoration: none !important;
}

p:hover {
    text-decoration: none !important;
}

.text-block {
    margin-top: 55px;
    margin-left: 20px;
    width: 600px;
}

.text-exec {
    display: flex;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
}

.flex-column > p {
    margin-left: 20px;
}

.pop-cat {
    display: flex;
    flex-flow: row wrap;
    align-content: space-around;
}

.pop-cat-img {
    width: 150px;
}

.pop-cat-text {
    width: 150px;
    text-align: center;
    font-size: 26px;
    color: white;
    text-decoration: none;
}

.row-pop {
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    width: 100%;
}

small {
    width: 100px;
}

small > img {
    width: 15px;
}