<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
<form action="/auth/login/" method="post">
    {% csrf_token %}
    <input type="text" name="username" id="name-field">
    <input type="password" name="password" id="pass-field">
    {% if login_error %}
        <label class="error">{{ login_error }}</label>
    {% endif %}
    <button type="submit">Зарегистрироваться</button>
    <div class="label round secondary"><a href="/auth/register/">Регистрация</a></div>
</form>
</body>
</html>